/* Fonts */

.noto-sans-jmf {
  font-family: "Noto Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
  

/* NORMALIZE */

html {
    font-size: 16px;
}

body {
    background-color: #eee;
    height: 100vh;
    margin: 0;
}

h1 {
    margin: 0;
}

button {
    cursor: pointer;
    touch-action: manipulation;
}

*,
::before,
::after {
	box-sizing: border-box;
}


/* PAGES */

body > * {
    display: none;
}

.active-page-select .select-page,
.active-page-quiz .quiz-page,
.active-page-quiz .quiz-progress,
.active-page-congrats .congrats-page {
    display: flex;
}

.active-page-select .title-bar,
.active-page-congrats .title-bar {
    display: block;
}

body.active-page-quiz {
    overflow: hidden;
}







/* TITLE BAR */

header {
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.09);
}

.header-content {
    height: 50px;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-content h1 {
    font-size: 24px;
}


/* PROGRESS BAR */

.quiz-progress {
    position: absolute;
    top: 0px;
    width: 100%;
    height:50px;
    justify-content: center;
    align-items: center;  
}

.progress-bar {
    display: flex;
    width: 100%;
    height: 100%;
}

.progress-bar-done {
    background-color: #146EBE66;
    transition: width 0.2s;
}

.progress-bar-current {
    background: transparent;
}

.progress-text {
    position: absolute;
    font-size: 24px;
    color: #666;
}

/* SELECT PAGE */

.select-page {
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px
}

.select-input-section {
    text-align: center;
}

#problem-select-table {
    display: none;
}

table {
    border-collapse: collapse;
    margin: 10px auto;
}
th, td {
    border: 1px solid #000;
    text-align: center;
    width: 30px;
    height: 24px;
    color: #444;
    font-size: 16px;
}

th {
    background-color: #f4f4f4;
}

.header-cell {
    background-color: #ddd;
    cursor: pointer;
}

.selected {
    background-color: #146EBEcc;
    color: white;
}

.start-btns {
    margin-top: 40px;
    display: flex;
    max-width: 500px;
    flex-wrap: wrap;
    gap: 12px 16px;
    justify-content: center;
}

.start-error-message {
    color: red;
}



/* QUIZ PAGE */

.quiz-page {
    flex-direction: column;
    min-height: calc(100vh);
    margin: 0 auto;
    padding: 0;
    max-width: 800px;
    justify-content: space-between;
    position: relative;
    /* top: 50px; */

}


/* PROBLEM CARD */

.problem-card-wrap {
    flex-grow: 1;
    display: flex;
    align-items: center;
    position: relative;
    top: -60px;
}

.problem-card {
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    margin: 0 auto;
    padding: 1rem;
    max-width: 80%;
    font-size: 3rem;
    display: flex;
    text-align: center;
}

.problem-card .answer {
    margin: 0 1.2rem;
    background: #146EBE25;
    border-bottom: 2px solid #777;
    line-height: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* NUMBER BUTTONS */

.number-btns {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0 5px 5px;    
    display: grid;
    grid-template-areas:
        "b1 b2 b3 b4 b5 b6"
        "b7 b8 b9 b0 bc bc";
    gap: 5px;
    height: 120px;

    /* Old Safari syntax */
    padding-bottom: constant(safe-area-inset-bottom);
    /* New Safari / modern syntax */
    padding-bottom: env(safe-area-inset-bottom);

}

.number-btns button {
    font-size: 1.5rem;
    background-color: #aaa;
    border: none;
    color: white;
    font-weight: 600;
}

@media (hover: hover) {
    .number-btns button:hover {
        background-color: #888;
    }
}

.number-btn[data-number="1"] {grid-area: b1;}
.number-btn[data-number="2"] {grid-area: b2;}
.number-btn[data-number="3"] {grid-area: b3;}
.number-btn[data-number="4"] {grid-area: b4;}
.number-btn[data-number="5"] {grid-area: b5;}
.number-btn[data-number="6"] {grid-area: b6;}
.number-btn[data-number="7"] {grid-area: b7;}
.number-btn[data-number="8"] {grid-area: b8;}
.number-btn[data-number="9"] {grid-area: b9;}
.number-btn[data-number="0"] {grid-area: b0;}
#clear-btn {grid-area: bc;}


/* Wider screen */

@media only screen and (min-width: 800px) {
    .quiz-page {
        flex-direction: row;
        justify-content: center;
        column-gap: 40px;
    }

    .problem-card-wrap {
        flex-grow: 0;
        position: relative;
        top: 0px;
    }

    .problem-card {
        margin: 0;
        max-width: 100%;
        padding: 2rem;
    }

    .number-btns {
        position: relative;
        top: 0px;
        width: auto;
        height: auto;
        margin: 0 5px;
        grid-template-areas:
        "b7 b8 b9"
        "b4 b5 b6"
        "b1 b2 b3"
        "b0 bc bc";
        grid-auto-columns: 5rem;
        grid-auto-rows: 5rem;
        align-content: center;
    }

    .quiz-page {
        max-width: 1000px;
    }


    .number-btns button {
        height: auto;
    }

}

@media screen and (min-width: 1000px) and (min-height: 1000px) {
    html {
        font-size: 22px;
    }
    /* .problem-card .prompt {
        max-width: 450px;
    } */

}


/* CONGRATS PAGE */

.congrats-page {
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.congrats-page h2 {
    margin-top: 5vh;
    margin-bottom: 0;
    font-size: 24px;
}

.congrats-page img {
    width: 500px;
    max-width: 90%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.09);
}

.start-btn, #start-40-btn, #start-60-btn, #start-80-btn, #start-100-btn, #start-all-btn, 
#retry-btn {
    min-width: 200px;
    min-height: 120px;
    padding: 10px;
    background-color: white;
    border: none;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.09);
    border-radius: 5px;
    font-size: 26px;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.2s;
}

@media (hover: hover) {
    .select-buttons button:hover, 
    #start-custom-btn:hover, 
    #retry-btn:hover {
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
    }
}

#retry-btn {
    margin-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 60px;
}
